<h2>{{items.length}} <span *ngIf="items.length === 1; else elseBlock">Tache</span>
    <ng-template #elseBlock>Tâche(s)</ng-template></h2>
    
    <ul>
      <li *ngFor="let item of items">
        <app-item (remove)="remove(item)" [item]="item"></app-item>
      </li>
    </ul>

    <div class="btn-wrapper">
        <button
          class="btn btn-menu"
          [class.active]="filter == 'tout'"
          (click)="filter = 'tout'">
          Toutes les tâches
        </button>
    
        <button
          class="btn btn-menu"
          [class.active]="filter == 'en cours'"
          (click)="filter = 'en cours'">
          A faire
        </button>
    
        <button
          class="btn btn-menu"
          [class.active]="filter == 'fini'"
          (click)="filter = 'fini'">
          Terminer
        </button>
      </div>

  <label for="addItemInput">Quelle tâche souhaiter vous ajouter ?</label>

<input
  #newItem
  placeholder="Nouvelle Tache"
  (keyup.enter)="addItem(newItem.value); newItem.value = ''"
  class="lg-text-input"
  id="addItemInput"
/>

<button class="btn-primary" (click)="addItem(newItem.value)" >Ajouter</button>

